////
/// Anchor
/// @group base
/// @link https://chrisburnell.com/styleguide/#inline-elements
////

a {
  position: relative;
  color: color('link-active');
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: currentColor;
  text-decoration-skip: ink;
  text-decoration-skip-ink: auto;

  &:hover,
  &:focus {
    color: color('link-hover');
  }

  &:visited {
    color: color('link-visited');
  }

  &[rel="external"] { // stylelint-disable selector-no-qualifying-type
    padding: 0.2rem 0.4rem;
    background-color: color('red');
    border-radius: 3px;
    color: contrast('red');
    text-decoration: none;
  }

  // hide extra content, text targetted only to screen readers
  span:not([class]):not([itemprop]) {
    @include is-hidden;
  }
}
