////
/// Anchor
/// @group base
/// @link https://chrisburnell.com/styleguide/#inline-elements
////

a {
    // @include transition(background-color, color, text-decoration-color);
    // @include will-change(background-color, color, text-decoration-color);
    // @include v(background-color, transparent);
    color: color('link-active');
    font-weight: 600;
    position: relative;
    text-decoration: underline;
    text-decoration-color: currentColor;
    text-decoration-skip: ink;
    text-decoration-skip-ink: auto;

    &:hover,
    &:focus {
      color: color('link-hover');
      // outline: $border-width-default $border-style-default $color-red;
      // outline: var(--border-width-thin) var(--border-style-default) var(--color-red);
      // outline-offset: $border-width-default;
      // outline-offset: var(--border-width-default);
    }

    &:visited {
      color: color('link-visited');
        // remove when text-decoration-color is supported
        // @include v(text-decoration-color, red);
    }

    // hide extra content, text targetted only to screen readers
    span:not([class]):not([itemprop]) {
        @include is-hidden;
    }
}
