////
/// Heading
/// @group base
////

// Heading Elements
h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %heading-elements !optional;
    padding: 0;
    margin: 0;
    position: relative;
    @include v(font-weight, default);
    font-variant-numeric: lining-nums;

    // For special Monospace titles
    &.monospace {
        @include case(none);
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

// Heading - Alpha
.alpha,
%alpha {
    @include font-family(title);
    @include v(font-size, alpha);
    @include v(line-height, small);
}
h1 {
    @extend %alpha !optional;
}

// Heading - Beta
.beta,
%beta {
    @include v(font-size, beta);
    @include v(line-height, small);
}
h2 {
    @extend %beta !optional;
    padding: $measure-medium 0;
}

// Heading - Gamma
.gamma,
%gamma {
    @include v(font-size, gamma);
    @include v(line-height, default);
}
h3 {
    @extend %gamma !optional;
    padding: 0 0 $measure-small;
}

// Heading - Delta
.delta,
%delta {
    @include v(font-size, default);
    @include v(line-height, small);
}
h4 {
    @extend %delta !optional;
}

// Heading - Epsilon
.epsilon,
%epsilon {
    @include v(font-size, default);
    @include v(line-height, small);
}
h5 {
    @extend %epsilon !optional;
}

// Heading - Zeta
.zeta,
%zeta {
    @include v(font-size, default);
    @include v(line-height, small);
}
h6 {
    @extend %zeta !optional;
}
