# Only committing dist folder for now (Ginestra)
# Ignore everything:
# *

# Except for the themes directories:
# !dist/
# !.gitignore

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Local
.DS_Store

# node stuff
node_modules

# bower stuff
bower_components

dist/
