<ul class="speaker-list">
  {{#each (limit collections.lastSpeakers 2)}}
  <li class="speaker-list__card speaker-list__card--small">
    <h3>{{fullname title}}</h3>
    {{>molecule-speaker-image}}
    <h4>{{#is private true}}To Be Announced{{else}}<a href="/{{path}}">{{description}}</a>{{/is}}</h4>
  </li>
  {{/each}}
</ul>
