<ul class="speaker-list">
  {{#each (limit collections.speakers 2)}}
  <li class="speaker-list__card speaker-list__card--small">
    <h3>{{title}}</h3>
    {{>molecule-speaker-image}}
    <h4><a href="/{{path}}">{{description}}</a></h4>
  </li>
  {{/each}}
</ul>