<nav class="site-nav">
  <div class="nav-menu">
    <input 
      type="checkbox"
      class="nav-menu__toggle"
      id="nav-menu__toggle"
      name="nav-menu__toggle"/>
    <label 
      for="nav-menu__toggle"
      class="nav-menu__label"
      id="nav-menu__label"
      aria-label="menu"></label>
    <ul 
      class="nav-menu__entries"
      id="nav-menu__entries"
      aria-labelledby="nav-menu__label">
      <li><a href="/speakers">Speakers</a></li>
      <li><a href="/schedule">Schedule</a></li>
      <li><a href="/location">Location</a></li>
      <li><a href="/sponsors">Sponsors</a></li>
    </ul>
  </div>
</nav>