<nav class="site-nav">
  <div class="top-bar">
    <div class="top-bar-title">
      <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <input class="top-bar-title__toggle" type="checkbox" id="top-bar-title__toggle" name="top-bar-title__toggle" data-toggle/>
        <label class="top-bar-title__label" for="top-bar-title__toggle" aria-label="menu"></label>
      </span>
    </div>
    <div id="responsive-menu">
      <div class="menu-centered">
        <ul class="vertical medium-horizontal menu">
          <li><a href="/speakers">Speakers</a></li>
          <li><a href="/schedule">Schedule</a></li>
          <li><a href="/location">Location</a></li>
          <li><a href="/sponsors">Sponsors</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
