<header class="header">
  <h{{#if title}}2{{else}}1{{/if}} class="site-title">
    <a href="/"><span>State</span> <span>of</span> <span>the</span> <span>Browser</span></a>
  </h{{#if title}}2{{else}}1{{/if}}>
  {{>molecule-nav}}
</header>