<footer>
  <div class="footer-content">
    <div class="footer-content__information">
      <p>
        Brought to you with the help of our sponsors
      </p>
      <!-- ul>
        <li>
          <a href="/sponsors/" title="See all our sponsors">
            <img alt="Mozilla" src="/images/logos/moz-logo-bw-rgb.svg">
          </a>
        </li>
      </ul -->
      <p class="copyright">{{ moment format="YYYY" }} &copy; <a href="https://twitter.com/webstandards">London Web Standards</a></p>
      <p>This event is brought to you by the time and effort graciously given by our <a href="/organisers">organisers</a> and <a href="/speakers">talented speakers</a>. We all take inspiration from the great mix of people who come to our events.</p>
      <p>This website has been made with ❤️</p>
      <p><a href="https://www.netlify.com/">This site is powered by Netlify</a></p>
    </div>

    <ul class="list-inline">
      <li>
        <a href="/code-of-conduct" class="is-button">Code of Conduct</a>
      </li>
      <li>
        {{!-- <a href="/privacy" class="is-button">Privacy Policy</a> --}}
      </li>
    </ul>

  </div>
</footer>

<script src="/scripts/bundle.js" defer></script>
