<!DOCTYPE html>
<html lang="en">

<head>
  {{>page-head}}
</head>

<body{{#if page_class}} class="{{ page_class }}"{{/if}} itemscope itemtype="https://schema.org/WebPage">
  <a class="is-focusable" href="#content">Skip to main content</a>
  <a class="is-focusable" href="/home">Go to the homepage</a>

  {{>organism-header}}

  <main id="content" itemscope itemtype="https://schema.org/WebPage">
    {{#block "main"}}
      {{{contents}}}
    {{/block}}
  </main>

  {{>organism-footer}}

  {{>serviceworker}}
  </body>

</html>
