<!DOCTYPE html>
<html lang="en">

<head>
  {{>page-head}}
</head>

<body{{#page_class}} class="{{ page_class }}"{{/page_class}} itemscope itemtype="https://schema.org/WebPage">
  {{>async-css}}

  <a class="hidden" href="#content">Skip to main content</a>
  <a class="hidden" href="/home">Go to the homepage</a>

  <header class="header">
    <h1>
      <a href="/">{{ site.title }}</a>
    </h1>
    {{>page-nav}}
  </header>

  <main class="wrap" role="main">
    <section class="content" id="content" role="document" itemscope itemtype="https://schema.org/WebPage">
      {{#block "body"}}
        {{{content}}}
      {{/block}}
    </section>
  </main>

  {{>page-footer}}
  </body>

</html>