<div class="site-nav">
  <nav class="nav-menu" 
       id="nav-menu"
       role="navigation"
       aria-expanded="false"
       aria-label="Main menu">
    <a href="#nav-menu__toggle"
       role="button"
       class="nav-menu__close"
       id="nav-menu__close"
       aria-expanded="false"
       aria-controls="nav-menu"
       aria-label="Close main menu">
      Close<span class="is-hidden"> main menu</span>
    </a>
    <ul class="nav-menu__entries">
      <li><a href="/speakers">Speakers</a></li>
      <li><a href="/schedule">Schedule</a></li>
      <li><a href="/venue">Venue</a></li>
      <li><a href="/sponsors">Sponsors</a></li>
      <li><a href="https://getinvited.to/webstandards/state-of-the-browser-2018/" class="link-external">Tickets</a></li>
    </ul>
  </nav>
  <a href="#nav-menu"
     role="button"
     class="nav-menu__toggle"
     id="nav-menu__toggle"
     aria-expanded="false"
     aria-controls="nav-menu"
     aria-label="Open main menu">
    <span class="is-hidden">Open main</span> menu
  </a>
</div>