////
/// Functions
/// @group abstracts
////

@function rainbow-gradient($tilt: false) {
  $yellow: color('yellow-screen');
  $orange: color('orange-screen');
  $red: color('red-screen');
  $purple: color('purple-screen');
  $bg: color('purple');
  $angle: to top;
  $dist: 0px;

  @if $tilt == true {
    $dist: 10px;
    $angle: 179deg;
  }

  @return linear-gradient($angle, $yellow, $yellow 5px + $dist, $orange 5px + $dist, $orange 10px + $dist, $red 10px + $dist, $red 15px + $dist, $purple 15px + $dist, $purple 20px + $dist, $bg 20px + $dist, $bg);
}
