////
/// Functions
/// @group abstracts
////

@function rainbow-gradient($tilt: false) {
  $yellow: color('yellow-screen');
  $orange: color('orange-screen');
  $red: color('red-screen');
  $purple: color('purple-screen');
  $bg: color('purple');
  $tilt: to bottom;

  @if ($tilt == true) {
    $angle: 179deg;
  }

  @return linear-gradient($tilt, $yellow, $yellow 15px, $orange 15px, $orange 20px, $red 20px, $red 25px, $purple 25px, $purple 30px, $bg 30px, $bg);
}
