<!doctype html>
<html class="no-js" lang="en">
  <head>
    {{>head}}
    {{>favicons}}
    {{>twitter-card}}
    {{>analytics}}
  </head>
  <body>
    {{>nav}}

    {{>header}}

    <main class="site-content">

      {{#each collections.speakers}}
      <div class="row">
        <ul>
          <li>
            <article>
              <heading>
                <picture>
                  <img src="/assets/img/{{this.picture}}">
                  <figcaption>{{this.title}}</figcaption>
                </picture>
                <h3>{{ this.description }}</h3>
              </heading>
            </article>
      </div>
      {{/each}}

      {{>page}}

    </main>

    {{>footer}}

    <script src="/assets/js/app.js"></script>
  </body>
</html>