{{#extend "page"}}

{{#content "main"}}
  <article>
    <h1>{{title}}</h1>
    {{{contents}}}

    {{#if data}}
      <h2>Meet the organisers</h2>
      <ul class="list-inline">
        {{#data}}
          {{>molecule-twitter-card}}
        {{/data}}
      </ul>
    {{/if}}
  </article>
{{/content}}

{{/extend}}