{{#extend "page"}}

{{#content "main"}}
  <section>
    <h2 class="no-bg">Saturday, 8 September 2018 <br>Conway Hall, London</h2>

    <p>
      <a href="https://goo.gl/maps/76RqxhAjzFp" rel="nofollow external" class="button-icon button-icon--pin">Map</a>
    </p>

    <p>
      Welcome to the seventh edition of <em>State of the Browser</em>, a yearly conference organised by <a href="#london-web-standards">London Web Standards</a> that connects browser vendors and the web community.
    </p>

    <p>
      Save the date: <a href="/downloads/stateofthebrowser2018.ics" rel="external">Download ICAL</a>
    </p>
  </section>

  <section>
    <h2>Tickets</h2>

    <p>This year we have a range of tickets:</p>

    <dl>
      <dt>Single Ticket (£30)</dt>
      <dd>This is a normal ticket that will get you in to the conference and is our cheapest ticket.</dd>
      <dt>Diversity Ticket (£50)</dt>
      <dd>This includes <strong>2</strong> tickets: one for yourself and one for another person who needs help getting a ticket.<br>
        <a href="/tickets/#diversity-tickets">More about Diversity Tickets</a>.</dd>
      <dt>Helper Ticket (£40)</dt>
      <dd>This is the ticket you need if you think <em>"Wow this is cheap"</em>, and you want to help out by donating an extra £10.</dd>
    </dl>

    <p>All of the tickets get you exactly the same on the day.</p>

    <p>Those that choose a <strong>Diversity</strong> or <strong>Helper</strong> ticket will get a mention here, on the website, if you wish.</p>
  </section>

  <section>
    <h2>Speakers</h2>
    <p>The latest speakers announced:</p>
    {{#if collections.lastSpeakers}}
      {{>molecule-speaker-list--small}}
    {{/if}}
    <p><a href="/speakers" class="is-button">See all speakers</a></p>
  </section>

  <section>
    <h2 id="london-web-standards">London Web Standards</h2>

    <p><img src="/images/LWS-icon.svg" class="image-shape--round" alt="London Web Standards Logo" /> London Web Standards brings together web professionals who are working for a better web. Our <a href="https://londonwebstandards.org">monthly meetups</a> provide them with an opportunity to teach, inspire, learn, network and debate.</p>

    <p>Each meetup features a speaker drawn from our membership or the wider standards community. The talks cover a range of topics including HTML5, JavaScript, CSS, accessibility, web fonts, UX and front-end performance.</p>
  </section>
{{/content}}

{{/extend}}
