{{#extend "page"}}

{{#content "main"}}
<article>
  <h1>{{title}}</h1>
  {{{contents}}}
  {{#if collections.speakers}}
    {{>molecule-speaker-list}}
  {{/if}}

  <footer>
    <p>See <a href="/schedule" class="is-button disabled">full schedule</a></p>
  </footer>
</article>
{{/content}}

{{/extend}}