{{#extend "page"}}

{{#content "main"}}
<article>
  <h1>{{title}}</h1>
  {{{contents}}}
  {{#if collections.speakers}}
    {{>molecule-speaker-list}}
  {{/if}}

  <footer>
    <nav>
      <p><a class="is-button">See full schedule</a></p>
    </nav>
  </footer>
</article>
{{/content}}

{{/extend}}
