{{#extend "page"}}

{{#content "main"}}
<h1 class="no-bg">Proudly sponsored by</h1>
{{#if data.headline}}
  <section>
    <ul class="sponsor-list sponsor-list--headline">
    {{#data.headline}}
      {{>molecule-sponsor}}
    {{/data.headline}}
    </ul>
  </section>
{{/if}}
{{#if data.major}}
  <section>
    <h2>Major sponsors</h2>
    <ul class="sponsor-list sponsor-list--major">
    {{#data.major}}
      {{>molecule-sponsor}}
    {{/data.major}}
    </ul>
  </section>
{{/if}}
{{#if data.medium}}
  <section>
    <h2>Medium sponsors</h2>
    <ul class="sponsor-list sponsor-list--medium">
    {{#data.medium}}
      {{>molecule-sponsor}}
    {{/data.medium}}
    </ul>
  </section>
{{/if}}
{{#if data.small}}
  <section>
    <h2>Small sponsors</h2>
    <ul class="sponsor-list sponsor-list--small">
    {{#data.small}}
      {{>molecule-sponsor}}
    {{/data.small}}
    </ul>
  </section>
{{/if}}
<section>
  {{{contents}}}
</section>
{{/content}}

{{/extend}}