{{#extend "page"}}

{{#content "main"}}
  <article>
    <h1>{{title}}</h1>
    {{{contents}}}
    {{#if data}}
      {{#if data.diversity}}
        <section>
          <h2>Diversity</h2>
          <ul class="list-inline">
            {{#data.diversity}}
              {{>molecule-twitter-card}}
            {{/data.diversity}}
          </ul>
        </section>
      {{/if}}
      {{#if data.helpers}}
        <section>
          <h2>Helpers</h2>
          <ul class="list-inline">
            {{#data.helpers}}
              {{>molecule-twitter-card}}
            {{/data.helpers}}
          </ul>
        </section>
      {{/if}}
    {{/if}}
  </article>
{{/content}}

{{/extend}}