.sponsors {
  main {
    margin: 0 auto;
    max-width: $max-container-width;

    @include above('large') {
      display: grid;
      grid-template-areas: 'aside content';
      grid-template-columns: 1fr 60%;
    }

    > *:nth-child(1) {
      @include above('large') { // stylelint-disable-line max-nesting-depth
        position: relative;
        top: -#{size('padding-xl') * 2};
        grid-area: content;
      }
    }

    > *:nth-child(2) {
      grid-area: aside;
    }
  }
}
