<footer class="site-footer">
  <div class="row">
    <div class="large-12columns">
      {{^broughtBy}}
      <p><em>Brought to you by</em></p>
      {{>logo-LWS type='grey'}}
      {{/broughtBy}}
      <p>&copy; 2017 <a href="http://londonwebstandards.org/">London Web Standards</a></p>
    </div>
  </div>
</footer>
