<header class="site-header">
  {{>logo-SOTB}}

  <h1 class="site-title">
    <a href="/" title="Homepage">State of the Browser 2017</a>
  </h1>

  <p><em>Brought to you by</em></p>
  {{>logo-LWS}}

</header>
