<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{#if title}}{{title}} | {{/if}}{{site.title}}</title>
<meta name="description" content="{{ description }}">
<link rel="stylesheet" href="/assets/css/app.css">
<!-- Google Fonts - Sans serif / Serif pairing -->
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">