{{!-- SOTB Vector logo --}}
<a href="/" title="Homepage">
  <svg version="1.1" class="sotb-vector-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 350 120" enable-background="new 0 0 350 120" xml:space="preserve" aria-labelledby="sotb-logo">
    <title id="sotb-logo">State of the Browser logo</title>
    <rect y="11.5" fill="#A8801A" width="70.7" height="91.5"/>
    <rect x="91.4" y="6.4" fill="#A13E17" width="70.7" height="101.5"/>
    <rect x="182.8" y="1.2" fill="#9F1833" width="70.7" height="112.4"/>
    <rect x="274.2" y="22.1" fill="#51163D" width="70.7" height="70.3"/>
    <rect x="5.1" y="16.6" fill="#DDA700" width="70.7" height="91.5"/>
    <path fill="#FFFFFF" d="M42.5,58.8c-4.1-1.7-7.7-3.2-7.7-6.4c0-2.8,2.9-5.1,6.5-5.1c4.8,0,8.3,3.3,8.4,3.3l0.9,0.8l3.5-6.4
      l-0.5-0.5c-0.2-0.2-4.4-4.4-12.3-4.4c-8.1,0-14.1,5.3-14.1,12.3c0,7.4,6.2,10.2,11.8,12.6c4.3,1.9,8.1,3.5,8.1,7s-3.1,5.1-6.2,5.1
      c-5.6,0-9.8-4.1-9.8-4.1l-0.7-0.7l-4.3,5.8l0.5,0.6c0.2,0.2,5.2,5.7,14.2,5.7c8.2,0,13.9-5.1,13.9-12.4
      C54.7,63.9,47.9,61.1,42.5,58.8z"/>
    <rect x="96.6" y="11.5" fill="#C83F18" width="70.7" height="101.5"/>
    <path fill="#FFFFFF" d="M132,40.2c-12.3,0-22,9.6-22,21.8c0,12.5,9.6,22.4,22,22.4c12.3,0,21.9-9.8,21.9-22.4
      C153.9,49.8,144.2,40.2,132,40.2z M132,77.3c-8,0-14.2-6.7-14.2-15.3c0-8.3,6.3-14.8,14.2-14.8s14.2,6.5,14.2,14.8
      C146.1,70.5,139.9,77.3,132,77.3z"/>
    <rect x="188" y="6.4" fill="#C61440" width="70.7" height="112.4"/>
    <polygon fill="#FFFFFF" points="205.5,40.9 205.5,47.7 219.5,47.7 219.5,83.7 227.1,83.7 227.1,47.7 241.1,47.7 241.1,40.9     "/>
    <rect x="279.3" y="27.2" fill="#711F56" width="70.7" height="70.3"/>
    <path fill="#FFFFFF" d="M323.7,60.9c2.6-2,4.1-5.1,4.1-8.7c0-6.9-5-11.3-12.8-11.3h-15.2v42.8h15.6c8.4,0,14.1-5,14.1-12.6
      C329.5,66.5,327.2,62.7,323.7,60.9z M315.7,76.9h-8.3V64.7h8.3c3.7,0,6.2,2.4,6.2,6.1C321.8,74.6,319.5,76.9,315.7,76.9z
        M315,58.1h-7.7V47.7h7.6c3.3,0,5.2,1.9,5.2,5.1C320.2,56,318.2,58.1,315,58.1z"/>
  </svg>
</a>
