<nav class="site-nav">
  <div class="top-bar">
    <div class="top-bar-title">
      <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon dark" type="button" data-toggle></button>
      </span>
    </div>
    <div id="responsive-menu">
      <div class="menu-centered">
        <ul class="vertical medium-horizontal menu">
          <li><a href="/speakers">Speakers</a></li>
          <li><a href="#" class="disabled">Schedule</a></li>
          <li><a href="/location">Location</a></li>
          <li><a href="#" class="disabled">Sponsors</a></li>
          <li><a href="#" class="disabled">About LWS</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
