// internal mixin to generate procedurally the classes for the arrows
@mixin colorise-arrows($hover: false, $dim-colour: false) {
  @each $key, $colour in $lws-palette {
    @if $hover {
      .lws-logo__#{$key} {
        fill: $dim-colour;
      }

      &:hover .lws-logo__#{$key} {
        fill: $colour;
      }
    }
    @else {
      &__#{$key} {
        fill: $colour;
      }
    }
  }
}

.lws-logo {
  @include colorise-arrows;
  max-width: rem-calc(150);

  &__title-group {
    fill: $light-gray;
  }

  &--grey {
    @include colorise-arrows(true, $dark-gray);
  }

  &--grey &__title-group {
    fill: $dark-gray;
  }

  &--grey:hover &__title-group {
    fill: $black;
  }
}
