.button-navigation {
  padding-top: $measure-large;

  %button-elements {
    margin-right: $measure-small;
    margin-left: $measure-small;

    &:nth-child(4n+1) {
      &:hover,
      &:focus,
      &:active {
        @include v(background-color, yellow);
        @include v(color, contrasting-color($color-yellow));
      }

      &:hover:not(:active),
      &:focus:not(:active) {
        box-shadow: -0.5rem -0.5rem 0 0 $color-yellow-darkened;
      }
    }

    &:nth-child(4n+2) {
      &:hover,
      &:focus,
      &:active {
        @include v(background-color, orange);
        @include v(color, contrasting-color($color-orange));
      }

      &:hover:not(:active),
      &:focus:not(:active) {
        box-shadow: -0.5rem -0.5rem 0 0 $color-orange-darkened;
      }
    }

    &:nth-child(4n+3) {
      &:hover,
      &:focus,
      &:active {
        @include v(background-color, red);
        @include v(color, contrasting-color($color-red));
      }

      &:hover:not(:active),
      &:focus:not(:active) {
        box-shadow: -0.5rem -0.5rem 0 0 $color-red-darkened;
      }
    }

    &:nth-child(4n+4) {
      &:hover,
      &:focus,
      &:active {
        @include v(background-color, purple);
        @include v(color, contrasting-color($color-purple));
      }

      &:hover:not(:active),
      &:focus:not(:active) {
        box-shadow: -0.5rem -0.5rem 0 0 $color-purple-darkened;
      }
    }
  }
}

.button-navigation--centered {
  text-align: center;
}
