.cta {
  border: 2px solid $medium-gray;
  color: $dark-gray;
  display: inline-block;
  padding: 0.85em 1em;

  &--twitter {
    border-color: #1da1f2;
    color: #1da1f2;

    &::before {
      background-image: url('/assets/img/twitter-logo.svg');
      background-repeat: no-repeat;
      background-size: 1em;
      content: '';
      display: inline-block;
      height: 1em;
      vertical-align: text-bottom;
      width: 1.2em;
    }
  }

  &:hover {
    color: #657786;
  }
}
