.image-wrap {
  position: relative;
  border-color: color('purple');
  border-style: solid;
  border-width: 7px 30px 7px 10px;
  line-height: 0;

  img {
    max-width: 100%;
  }

  a {
    background-size: cover;
    background-color: color('red');
    background-blend-mode: screen;
    display: block;
    width: 100%;
    height: 100%;

    &:hover {
      background-color: color('orange');
    }
  }

  a > img {
    visibility: hidden;
  }

  &--portrait {
    width: 200px;
    border-width: 10px 7px 30px;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: color('red');
      position: absolute;
      top: 0;
      mix-blend-mode: screen;
    }
  }
}
