/// nav-menu
/// @see https://medium.com/@heyoka/responsive-pure-css-off-canvas-hamburger-menu-aebc8d11d793
/// and https://codepen.io/markcaron/pen/pPZVWO?editors=1100
.nav-menu {
  display: none;

  @include above('medium') {
    display: block;
  }

  &:target,
  &[aria-expanded='true'] {
    display: block;
  }

  &:target &__entries,
  &[aria-expanded='true'] &__entries {
    display: block;
  }

  &:target ~ &__toggle {
    display: none;
  }

  li {
    @include above('medium') {
      display: inline-block;
      padding: 0.4em 0.8em;
    }
  }

  &__entries {
    margin: .5em 0 0;
    padding-left: 0;
    list-style: none;
    text-align: center;

    > * + * {
      margin-top: .3em;
    }
  }

  &__toggle,
  &__close {
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 27px;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 20px;

    &:visited {
      color: color('red');
    }
  }

  &__toggle {
    background-image: url('/images/icon-menu.svg');

    @include above('medium') {
      display: none;
    }
  }

  &__close {
    background-image: url('/images/icon-menu-close.svg');
    height: 1em;

    @include above('medium') {
      display: none;
    }
  }
}
