.primary-navigation {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 1;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    padding: 0 $measure-small;
  }

  &__link {
    @include font-family(title);
    display: block;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 4px;
    color: $color-white;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-size 0.1s ease;

    @include media('screen', '<=small') {
      padding: $measure-medium $measure-small;
    }

    @include media('screen', '>small') {
      @include v(font-size, gamma);
      padding: $measure-medium;
    }

    &:hover,
    &:focus,
    &:active,
    .page--speakers &--speakers,
    .page--schedule &--schedule,
    .page--venue &--venue,
    .page--sponsors &--sponsors {
      background-size: 100% 100%;
      text-decoration: none;
      transition: background-size 0.1s ease, box-shadow 0.05s ease 0.05s;
    }

    &[disabled] {
      opacity: 0.5;
    }

    &--speakers {
      background-image: linear-gradient(to bottom, $color-yellow, $color-yellow);

      &:hover,
      &:focus,
      &:active,
      .page--speakers & {
        box-shadow: -0.5rem -0.5rem 0 0 $color-yellow-darkened;
        color: contrasting-color($color-yellow);
      }
    }

    &--schedule {
      background-image: linear-gradient(to bottom, $color-orange, $color-orange);

      &:hover,
      &:focus,
      &:active,
      .page--schedule & {
        box-shadow: -0.5rem -0.5rem 0 0 $color-orange-darkened;
        color: contrasting-color($color-orange);
      }
    }

    &--venue {
      background-image: linear-gradient(to bottom, $color-red, $color-red);

      &:hover,
      &:focus,
      &:active,
      .page--venue & {
        box-shadow: -0.5rem -0.5rem 0 0 $color-red-darkened;
        color: contrasting-color($color-red);
      }
    }

    &--sponsors {
      background-image: linear-gradient(to bottom, $color-purple, $color-purple);

      &:hover,
      &:focus,
      &:active,
      .page--sponsors & {
        box-shadow: -0.5rem -0.5rem 0 0 $color-purple-darkened;
        color: contrasting-color($color-purple);
      }
    }

    &--get-tickets {
      background-image: linear-gradient(to bottom, #b6595b, #b6595b);

      &:hover,
      &:focus,
      &:active {
        box-shadow: -0.5rem -0.5rem 0 0 darken(#b6595b, 15%);
        color: contrasting-color(#b6595b);
      }
    }
  }
}
