.rectangle {
  position: absolute;
  top: 30%;
  left: 50%;
  color: $color-white;
  font-weight: bold;
  text-align: center;
  z-index: 0;


  &--yellow {
    width: 20vmin;
    height: 25vmin;
    background-color: $color-yellow;
    box-shadow: -0.5rem -0.5rem 0 0 $color-yellow-darkened;
    min-height: 5rem;
    min-width: 4rem;
    transform: translateX(-237.5%) translateY(-40%) rotateZ(3deg);

    &:hover {
      animation: rectangle-yellow 0.1s linear infinite alternate;

      @keyframes rectangle-yellow {
        from {
          transform: translateX(-237.5%) translateY(-40%) rotateZ(3deg);
        }
        to {
          transform: translateX(-237.5%) translateY(-40%) rotateZ(6deg);
        }
      }
    }
  }

  &--orange {
    width: 20vmin;
    height: 32.5vmin;
    background-color: $color-orange;
    box-shadow: -0.5rem -0.5rem 0 0 $color-orange-darkened;
    min-height: 6.5rem;
    min-width: 4rem;
    transform: translateX(-112.5%) translateY(-40%) rotateZ(-3deg);

    &:hover {
      animation: rectangle-orange 0.1s linear infinite alternate;

      @keyframes rectangle-orange {
        from {
          transform: translateX(-112.5%) translateY(-40%) rotateZ(-3deg);
        }
        to {
          transform: translateX(-112.5%) translateY(-40%) rotateZ(-6deg);
        }
      }
    }
  }

  &--red {
    width: 20vmin;
    height: 40vmin;
    background-color: $color-red;
    box-shadow: -0.5rem -0.5rem 0 0 $color-red-darkened;
    min-height: 8rem;
    min-width: 4rem;
    transform: translateX(12.5%) translateY(-40%) rotateZ(3deg);

    &:hover {
      animation: rectangle-red 0.1s linear infinite alternate;

      @keyframes rectangle-red {
        from {
          transform: translateX(12.5%) translateY(-40%) rotateZ(3deg);
        }
        to {
          transform: translateX(12.5%) translateY(-40%) rotateZ(6deg);
        }
      }
    }
  }

  &--purple {
    width: 20vmin;
    height: 20vmin;
    background-color: $color-purple;
    box-shadow: -0.5rem -0.5rem 0 0 $color-purple-darkened;
    min-height: 4rem;
    min-width: 4rem;
    transform: translateX(137.5%) translateY(-40%) rotateZ(-3deg);

    &:hover {
      animation: rectangle-purple 0.1s linear infinite alternate;

      @keyframes rectangle-purple {
        from {
          transform: translateX(137.5%) translateY(-40%) rotateZ(-3deg);
        }
        to {
          transform: translateX(137.5%) translateY(-40%) rotateZ(-6deg);
        }
      }
    }
  }
}
