section > h2 {
  padding: 0 1em;
  padding-bottom: 20px;
  background-image: rainbow-gradient();
  background-color: color('purple');
  color: contrast('purple');

  @include above('medium') {
    background-image: none;
    background-color: color('white-ish');
    color: color('red');
  }

  &.no-bg {
    background-image: none;
    background-color: color('white-ish');
    color: color('red');
  }
}
