section > h2 {
  padding: 0 1rem;
  padding-bottom: 20px;
  background-color: color('purple');
  background-image: rainbow-gradient();
  color: contrast('purple');

  @include above('medium') {
    padding-bottom: 0;
    background-color: transparent;
    background-image: none;
    color: color('red');
  }

  &.no-bg { // stylelint-disable selector-no-qualifying-type
    padding-bottom: 0;
    background-color: color('white-ish');
    background-image: none;
    color: color('red');
  }
}
