/** Site header **/

.site-header {
  background-color: scale-color(map-get($sotb-palette, purple), $lightness: -70%);
  color: $light-gray;
  padding-top: 1rem;
  text-align: center;

  h1 {
    margin: 0;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }

  p {
    margin-bottom: 0;
  }

  svg {
    max-width: rem-calc(350);

    .sotb-vector-logo {
      padding-top: rem-calc(30);
    }
  }
}
