.sponsor-list {
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;

  .logo {
    // padding: size('padding-s');
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    max-width: 400px;
  }

  > * + * {
    margin-left: size('padding-s');
  }

  &--headline {
    .logo {
      max-width: 400px;
    }

    img {
      background-color: color('purple');
    }
  }

  &--major {
    .logo {
      max-width: 300px;
    }

    img {
      background-color: color('red');
    }
  }

  &--medium {
    .logo {
      max-width: 250px;
    }

    img {
      background-color: color('orange');
    }
  }

  &--small {
    .logo {
      justify-self: center;
      max-width: 200px;
    }

    img {
      background-color: color('yellow');
    }
  }

  img {
    width: 100%;
  }

}
