.sponsor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include above('medium') {
    max-width: $max-paragraph-width /2;
  }

  img {
    width: 100%;
  }

  .logo {
    width: 33.3%;
    padding: size('padding-s');
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;

    &--headline {
      flex-basis: 100%;

      > img {
        background-color: color('purple');
      }
    }

    &--major {
      flex-basis: 50%;

      > img {
        background-color: color('red');
      }
    }

    &--medium {
      flex-basis: 50%;

      > img {
        background-color: color('orange');
      }
    }

    &--small {
      justify-self: center;

      > img {
        background-color: color('yellow');
      }
    }
  }

}
