.top-bar-title {
  margin: 0.5rem 1rem;
  padding: 0;
  position: relative;

  &__label {
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;

    &::after {
      content: 'menu';
    }
  }

  // overriding Zurb's scheiße
  label.top-bar-title__label { // stylelint-disable selector-class-pattern
    margin: 0;
  }

  &__toggle {
    display: none;
  }

  &__toggle:checked ~ &__label::after {
    content: '×';
    font-size: 2rem;
    height: 2rem;
    left: 0;
    line-height: 2rem;
    position: absolute;
    top: 0;
    width: 2rem;
  }

  &__button {
    font-size: 0.9rem;
    text-transform: uppercase;
  }
}
