<!doctype html>
<html class="no-js" lang="en">
  <head>
    {{>head}}
    {{>favicons}}
    {{>twitter-card}}
    {{>og}}
    {{>analytics}}
  </head>
  <body>
    {{>async-css}}
    {{>nav}}

    {{>header}}

    <main class="site-content">
      {{>speaker-card-large}}

      <hr> 
      <div class="text-center">
        <a class="button secondary" href="/speakers">See all speakers</a>
      </div>
    </main>

    {{>footer}}

  </body>
</html>